# Maven
target/
*.jar
*.war
*.ear
*.class

# IDE
.idea/
*.iml
.vscode/
*.eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Spring Boot
application-local.properties

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
*.pem
